.homehobbys  {
    height: 100%;
    width: 100%;
    background-color:  hsl(183, 40%, 72%);
}

.header{
    position:absolute;
    top: 10%;
    left: 20%;
    transform: translate(-50%,-50%);
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border: 2px solid var(--borader-color);
    box-shadow: 0 0 20px var(--shadow);
    border-radius: 100px;
    font-size: 20px;
    
}

.nav-item{
    position: relative;
    transition: all 0.4;
    scale: 1;
    cursor: pointer;
    color: blue;
    font-weight: 700;
    text-shadow: 0 0 10px var(--shadow);
    padding: 12%;
    white-space: nowrap;
}

.inactive{
    font-weight: 400;
}

.inactive:hover{
    scale: 1.2;
    text-shadow: 0 0 20px var(--shadow);
    text-decoration: underline;
}

a{
    text-decoration: none;
}

a:visited { text-decoration: none; color:blue; }

#active{
    color: red;
    font-size: larger;
    font-weight: 800;
}

#active:hover{
    cursor: default;
}

/* .nav-item:after{
    content: "";
    position:absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 50%;
    border-radius: 2px;
    background-color: var(--after-bg);
    box-shadow: 0 0 5px 0 var(--shadow);
    transition: all 0.4;
}

.nav-item:hover::after{
    width: 100%;
    box-shadow: 0 0 5px 2px var(--shadow);
    left: 0;
} */

  .hobbyname {
    font-size:40px ;
    text-align: right;
    position:relative;
    top: 1em;
    right: 2em;
} 

.music {
    font-size: 25px;
     text-align: left;
    position: relative;
    font-size: 35px;
    top: -450px;
    left: 300px;
    border: 3px solid #AFDBDE; 
    background-color: #AFDBDE; 
    border-radius: 40px;
    width: 300px;
    padding: 1rem;

    
}

.hobbyfoto {
    position: relative;
    left: 3em   ;
    border-radius: 50%;
    object-fit: cover;
    top: -55em;
    width: 170px;
    height: 170px;
}

.hobbymusik {
    position: relative;
    left: 3em   ;
    border-radius: 50%;
    object-fit: cover;
    top: -50em;
    width: 170px;
    height: 170px;
}

.hobbytext {
    position: relative;
    text-align: right;
    top: -1590px;
    right: -980px;
    font-size: 35px;
     border: 3px solid #AFDBDE; 
    background-color: #AFDBDE; 
    border-radius: 40px;
    width: 300px;
    padding: 1rem;
  

}

.Ümusic {
     text-align: left;
    position: relative;
    top: -2100px;
    left: 230px;
    font-size: 35px;
}

.Üclimbing {
    text-align: right;
    position: relative;
    top: -2240px;
    left: -230px;
    font-size: 35px;
}

.hobbyklettern {                      
    position: relative;
    right: -87em;
    border-radius:50%;
    object-fit: cover;
    top: -77em;
    width: 170px;
    height: 170px;
}

.hobbyklettern2 {
    position: relative;
    right: -87em;
    border-radius:50%;
    object-fit: cover;
    top: -72em;
    width: 170px;
    height: 170px;

}

.strich {
    text-align:center;
    width: 1500px;
    height: 1000px;
}


 @keyframes shadow-drop-2-tr {0% { transform: translateZ(0) translateX(0) translateY(0); box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); } 100% { transform: translateZ(50px) translateX(-12px) translateY(12px); box-shadow: 12px -12px 20px -12px rgba(0, 0, 0, 0.75);} }

.shadow-drop-2-tr-normal { 
    animation: shadow-drop-2-tr 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s 1 normal both; 
}

 @keyframes shadow-pop-tl {0% { box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e; transform: translateX(0) translateY(0); } 100% { box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e; transform: translateX(8px) translateY(8px);} }

.shadow-pop-tl-normal { 
    animation: shadow-pop-tl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) 0s 1 normal both; 
}



  @keyframes tracking-in-expand {0% { letter-spacing: -0.5em; opacity: 0; } 40% { opacity: 0.6; } 100% { opacity: 1;} }

.tracking-in-expand-normal { 
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0s 1 normal both; 
}


/* ----------------------------------------------
* Generated by Gradienty on 2026-03-25 08:20
* animation tilt-in-tl-normal
* ----------------------------------------
*/
  @keyframes tilt-in-tl {0% { transform: rotateY(35deg) rotateX(20deg) translate(-250px, -250px) skew(12deg, 15deg); opacity: 0; } 100% { transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg); opacity: 1;} }

.tilt-in-tl-normal { 
    animation: tilt-in-tl 0.65s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s 1 normal both; 
}

/* ----------------------------------------------
* Generated by Gradienty on 2026-03-25 08:21
* animation tilt-in-fwd-tr-normal
* ----------------------------------------
*/
  @keyframes tilt-in-fwd-tr {0% { transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg); opacity: 0; } 100% { transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg); opacity: 1;} }

.tilt-in-fwd-tr-normal { 
    animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s 1 normal both; 
}



/* ----------------------------------------------
* Generated by Gradienty on 2026-03-25 09:22
* animation slide-in-right-normal
* ----------------------------------------
*/
  @keyframes slide-in-right {0% { transform: translateX(1000px); opacity: 0; } 100% { transform: translateX(0); opacity: 1;} }

.slide-in-right-normal { 
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s 1 normal both; 
}

/* ----------------------------------------------
* Generated by Gradienty on 2026-03-25 09:23
* animation slide-in-left-normal
* ----------------------------------------
*/
  @keyframes slide-in-left {0% { transform: translateX(-1000px); opacity: 0; } 100% { transform: translateX(0); opacity: 1;} }

.slide-in-left-normal { 
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s 1 normal both; 
}

/* ----------------------------------------------
* Generated by Gradienty on 2026-03-25 09:22
* animation slide-in-right-normal
* ----------------------------------------
*/
  @keyframes slide-in-right1 {0% { transform: translateX(1000px); opacity: 0; } 100% { transform: translateX(0); opacity: 1;} }

.slide-in-right-normal1 { 
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 500ms 1 normal both; 
}

  @keyframes slide-in-left1 {0% { transform: translateX(-1000px); opacity: 0; } 100% { transform: translateX(0); opacity: 1;} }

.slide-in-left-normal1 { 
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 500ms 1 normal both; 
}